* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #83878a
}

body {
  background-color: #f5f5f5;
}

.logo {
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: #6aa5ab;
}

.logo span {
  font-size: 13px;
  color: #6aa5ab;
}

.big{
  font-size: 100px;
  padding-top: 130px;
}

.starttext {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}

.start {
  text-align: center;
  vertical-align: middle;
}

.start a {
  border: 3px solid #ffffff;
  font-size: 40px;
  padding: 6px 14px 7px 14px;
  display: inline;
  color: #f26c57;
  cursor: pointer;
}

.start a:hover {
  background-color: #ebebeb;
  color: #6aa5ab;
}

img {
  width: 100%;
}

.startcontainer {
  background-size: cover;
  width: 100%;
  height: 1000px;
  text-align: center;
}


/* Header */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #cfd2d4;
  height: 45px;
}

.nav {
  margin: 5px 0px 25px 10px;
  color: #808080;
  float: right;
}


/* Navigation */

.blog-nav {
  margin-top: 10px;
  text-align: left;
}

.search {
  width: 400px;
  display: inline-block;
  float:right;
}

.search div input {
  background-color: #f0f0f0;
  font-size: 12px;
}

@media (max-width: 640px) {
  .search {
    width: 100%;
  }
}

.search-icon {
  width: 25px;
  margin-left: 5px;
  padding-bottom: 15px;
  cursor: pointer;
}


/* Movie collection */

.add-movie {
  box-shadow: 1px 1px 1px #c9c9c9;
  background-color: #e4f0f5;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #bedfeb;
  margin-top: 20px;
  min-height: 240px;
}

@media (max-width: 640px) {
  .add-movie {
    width: 100%;
  }
}

.button {
  background-color: #ffffff;
  font-size: 14px;
  padding: 6px 14px 7px 14px;
  display: inline;
  color: #f26c57;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #ebebeb;
  color: #6aa5ab;
}

.d-label {
  background-color: #ffffff;
  color: #6aa5ab;
}

.rating {
  color: #f26c57;
}

.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #000000 !important;
}

/* Movie */

.title {
  font-size: 20px;
  font-weight: bold;
  color: #6aa5ab;
}

.poster {
  width: 100%;
  box-shadow: 2px 2px 2px #c9c9c9;
  margin-top: 10px;
}

@media (max-width: 640px) {
  .poster {
    margin: 10px 0 10px 0;
  }
}

.poster-s {
  width: 50px;
  padding: 0 5px 5px 0;
  cursor: pointer;
}

.poster-s:hover {
  width: 75px;
}

.title-s {
  display: inline;
  cursor: pointer;
}

.title-s:hover {
  color: #6aa5ab;
}

.animation {
  border: 6px solid #ffffff;
  box-shadow: 1px 1px 1px #c9c9c9;
  margin-bottom: 15px;
}

.animation img {
  width: 100%
}

.col-md-4 {
  margin-bottom: 10px;
}

ul {
  list-style:none;
}

/* Footer */

footer {
  text-align: center;
  padding: 20px;
  font-size: 11px;
  color: grey;
}
