<div ng-controller="MainController">
  <header>
    <div class="container">
      <table class="nav">
        <tr>
          <td class="form-group search">
            <form ng-submit="new()">
              <input type="text" ng-model="search" class="form-control" onclick="select()" placeholder="Search a Movie" autofocus />
            </form>
          </td>
          <td>
            <img src="images/search.png" class="search-icon" ng-click="new()">
          </td>
        </tr>
      </table>
      <div>
        <a class="logo" href='/' style="text-decoration: none;">Eiga</a>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div ng-if="movie.Response==='True'">
          <img class="poster" ng-src="{{ movie.Poster=='N/A' ? 'images/na.png' : 'http://imdb.wemakesites.net/api/1.0/img/?url='+movie.Poster }}">
        </div>
      </div>
      <div class="col-md-4">
        <p class="title">{{ movie.Title }}</p>
          <div>
            <p>{{ movie.Plot }}</p>
            <span class="d-label">Year:</span> {{ movie.Year}}
            <br>
            <span class="d-label">Genre:</span> {{ movie.Genre }}
            <br>
            <span class="d-label">Rate:</span> {{ movie.Rated }}
            <br>
            <span class="d-label">Runtime:</span> {{ movie.Runtime }}
            <br>
            <span class="d-label">Director:</span> {{ movie.Director }}
            <br>
            <table>
              <tr>
                <td class="description"><span class="d-label">Actors:</span>&nbsp;</td>
                <td>{{ movie.Actors }}</td>
              </tr>
            </table>
            <span class="d-label">Language:</span> {{ movie.Language }}
            <br>
            <span class="d-label">Country:</span> {{ movie.Country }}
            <br>
            <table>
              <tr>
                <td class="description"><span class="d-label">Writer:</span>&nbsp;</td>
                <td>{{ movie.Writer }}</td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="description"><span class="d-label">Awards:</span>&nbsp;</td>
                <td>{{ movie.Awards }}</td>
              </tr>
            </table>
            <span class="d-label">Production:</span> {{ movie.Production }}
            <br>
            <span class="d-label">IMDb rating:</span><span class="rating"> {{ movie.imdbRating }}</span>
            <br>
            <span class="d-label">Rotten Tomatoes:</span><span class="rating"> {{ movie.imdbRating }}</span>
          </div>
        </div>
      <div class="col-md-4">
        <div class="animation">
          <img src="{{ animation }}">
        </div>
        <div ng-click="create()" class="button">
          + Add to My Favorite Movies
        </div>
        <div class="add-movie">
          <div ng-repeat="movie in movielist">
            <table>
              <tr>
                <td>
                  <img ng-click="getFavorite(movie.title)" class="poster-s" ng-src="http://imdb.wemakesites.net/api/1.0/img/?url={{ movie.poster }}">
                </td>
                <td>
                  <p ng-click="getFavorite(movie.title)" class="title-s">{{ movie.title }} ({{ movie.year }})</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; Eiga</p>
  </footer>
