<div ng-controller="MainController">
  <header>
    <div class="container">
      <table class="nav">
        <tr>
          <td class="form-group search">
            <form ng-submit="change()">
              <input class="form-control" type="text" ng-model="search" class="form-control" onclick="select()" placeholder="Search Movie" autofocus />
            </form>
          </td>
          <td>
            <img src="images/search.png" style="width: 25px; margin-left: 5px; padding-bottom: 15px;">
          </td>
        </tr>
      </table>
      <div class="logo">Eiga<span>&nbsp;&nbsp;&nbsp;Movie Collection</span>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div ng-if="movie.Response==='True'">
          <img class="poster" ng-src="{{ movie.Poster=='N/A' ? 'images/na.jpg' : 'http://imdb.wemakesites.net/api/1.0/img/?url='+movie.Poster }}">
        </div>
      </div>
      <div class="col-md-4">
        <p class="title">{{ movie.Title }}</p>
          <div>
            <p>{{ movie.Plot }}</p>
            <span class="d-label">Year:</span> {{ movie.Year}}
            <br>
            <span class="d-label">Genre:</span> {{ movie.Genre }}
            <br>
            <span class="d-label">Rate:</span> {{ movie.Rated }}
            <br>
            <span class="d-label">Runtime:</span> {{ movie.Runtime }}
            <br>
            <span class="d-label">Director:</span> {{ movie.Director }}
            <br>
            <span class="d-label">Actors:</span> {{ movie.Actors }}
            <br>
            <span class="d-label">Language:</span> {{ movie.Language }}
            <br>
            <span class="d-label">Country:</span> {{ movie.Country }}
            <br>
            <span class="d-label">Writer:</span> {{ movie.Writer }}
            <br>
            <span class="d-label">Awards:</span> {{ movie.Awards }}
            <br>
            <span class="d-label">Production:</span> {{ movie.Production }}
            <br>
            <span class="d-label">IMDb rating:</span><span class="rating"> {{ movie.imdbRating }}</span>
            <br>
            <span class="d-label">Rotten Tomatoes:</span><span class="rating"> {{ movie.imdbRating }}</span>
          </div>
        </div>
      <div class="col-md-4">
        <div class="animation">
          <img src="{{ animation }}">
        </div>
        <div ng-click="create()" class="button">
          + Add to My Favorite Movies
        </div>
        <div class="add-movie">
          <div ng-repeat="movie in movielist">
            <img ng-click="getFavorite(movie.title)" class="poster-s" ng-src="{{movie.poster}}">
            <p ng-click="getFavorite(movie.title)" class="title-s">{{movie.title}} ({{movie.year}})</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; Eiga</p>
  </footer>
